<h1>Esta es mi pagina personal</h1>

<p>Raul Ferrandez Salvador</p>

<h1>Mis trabajos iterando JobExperience.all.each ...:</h1>

<% JobExperience.all.each do |experience| %>
    <tr> <%= experience.tittle %> </tr>
<% end %>

<h1>Mis trabajos usando render </h1>

<%= render template: "job_experiences/index" %>



